
      .custom-dropdown {
        position: relative;
        width: 200px;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 10px;
        cursor: pointer;
        background: #fff;
    }
  
    .selected-operator {
        font-size: 16px;
        color: #555;
    }
  
    .dropdown-menu {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #fff;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        z-index: 10;
        display: none; 
    }
  
    .dropdown-item {
        display: flex;
        align-items: center;
        padding: 8px 10px;
        cursor: pointer;
        transition: background 0.3s ease;
    }
  
    .dropdown-item:hover {
        background: #f0f0f0;
    }
  
    .dropdown-item img {
        height: 24px;
        width: 24px;
        margin-right: 8px;
        border-radius: 50%;
    }
  
    .dropdown-item span {
        font-size: 14px;
        color: #333;
    }
  
  
  .image {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    margin-right: 200px;
    margin-top: 30px;
    height: 250px;
    width: 1500px;
    padding-left: 30px;
    padding-right: 30px;
    flex-wrap: wrap; 
  }
  
  .item {
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
    flex-direction: column; 
    width: 100px; 
    height: 100px; 
  }
  
  .item img {
    width: 100px; 
    height: 100px; 
    object-fit: contain; 
    margin-bottom: 10px; 
  }
  .item:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
  }
  
  
  .flexwrapper{
    display: flex;
  }
  
  
  .main{
    height: 480px;
  }
  
  .table-container {
    display: none; 
    overflow-y: auto; 
    max-height: 300px; 
    border: 1px solid #ccc; 
  }
  .table-container.active {
    display: block; 
  }
  .table-container::-webkit-scrollbar {
    width: 8px;
  }
  .table-container::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }
  .table-container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  
  .title{
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 90%;
  }
  
  .title h2{
    padding-top: 30px;
    padding-left: 20px;
    
  }